name: CI Pokemon API

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest

        container:
            image: node:22
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: npm install
            
            - name: Run tests
              run: npm test

    build-local:
        runs-on: self-hosted
    
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Node version
              run: node -v

            - name: Test runner
              run: echo "Running on self-hosted runner"