name: CI Pokemon API

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    unit-tests:
        runs-on: ubuntu-latest

        container:
            image: node:22

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: npm install

            - name: Run unit tests
              run: npx jest __tests__/unit.test.js
    
    integration-tests:
        needs: unit-tests
        runs-on: self-hosted

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node 22
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Install dependencies
              run: npm install
            
            - name: Run integration tests
              run: npx jest __tests__/integration.test.js

    build-tests:
        runs-on: ubuntu-latest
        container: 
            image: node:22
        steps:
            - uses: actions/checkout@v4
            - run: npm install
            - run: npm test
            - name: Save test results as artifact
              run: mkdir -p test-results && cp -r __tests__ test-results/
            - uses: actions/upload-artifact@v3
              with:
                name: test-artifact
                path: test-results
                retention-days: 7
        
    use-artifact:
        runs-on: ubuntu-latest
        needs: build-tests
        steps:
            - uses: actions/checkout@v4
            - uses: actions/download-artifact@v3
              with:
                name: test-artifact
                path: downloaded-tests
            - run: ls downloaded-tests
            - run: echo "Artifact successfully reused in another job"
