name: CI Pokemon API

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    unit-tests:
        runs-on: ubuntu-latest

        container:
            image: node:22

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: npm install

            - name: Run unit tests
              run: npx jest __tests__/unit.test.js
    
    integration-tests:
        needs: unit-tests
        runs-on: self-hosted

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node 22
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Install dependencies
              run: npm install
            
            - name: Run integration tests
              run: npx jest __tests__/integration.test.js